<nav class="navbar navbar-expand-lg bg-white fixed-bottom">
    <div class="container-fluid">
        <ul class="navbar-nav flex-row justify-content-around w-100">
            <li><a href="#" class="bottom-tab active">
                <img src="../assets/images/ICON/house-active.svg" alt="">
                <span>首頁</span>
            </a></li>
            <li><a href="#" class="bottom-tab">
                <img src="../assets/images/ICON/pie-chart-grey.svg" alt="">
                <span>分析</span>
            </a></li>
            <li><a href="#" class="bottom-tab">
                <img src="../assets/images/ICON/bank-building-grey.svg" alt="">
                <span>帳戶</span>
            </a></li>
            <li><a href="#" class="bottom-tab">
                <img src="../assets/images/ICON/person-grey.svg" alt="">
                <span>個人</span>
            </a></li>
        </ul>
    </div>
</nav>