<div class="d-flex justify-content-center py-1 sicky-top">
    <div class="dropdown">
        <button class="btn bg-white dropdown-toggle rounded-pill fw-semibold py-2 px-4" type="button" data-bs-toggle="dropdown" aria-expanded="false">
            31 Jul 2024
        </button>
        <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="#">Action</a></li>
            <li><a class="dropdown-item" href="#">Another action</a></li>
            <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
    </div>
</div>