.spend-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #ECEEF2;
  padding: 8px;
}

.spend-category-icon {
  width: 32px;
  height: 32px;
}

.spend-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.spend-category-tag {
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  padding: 8px 8px;
  border-radius: 8px;
  background: $gray-50;
  color: $secondary;
  margin-bottom: 4px;
}

.spend-note {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.014em;
  color: $neutral-700;
}

.spend-price {
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 0.014em;
}