.dough-profile {
  position: relative;
}

.dough-profile::after {
  content: '';
  position: absolute;
  opacity: 0.64;
  background:  linear-gradient(to bottom, rgba(255,255,255, 1) 0%, rgba(255, 255, 255, 0) 100%),
  url('/assets/images/背景圖/廚房.svg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center bottom;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
}

.dough-panel {
  padding: 16px 16px 46px;
}

.shadow-dough-btn {
  padding: 4px;
  width: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2px;
}

.shadow-dough-btn img {
  background: #fff;
  width: 40px;
  height: 40px;
  padding: 4px;
  margin-bottom: 2px;
  border-radius: 16px;
  box-shadow: 0 4px 8px 0 rgba(0 0 0 / 10%),
  inset 0 -2px 4px 0 rgba(149, 92, 0, 0.35);
}

.shadow-dough-btn p {
  font-weight: 600;
  line-height: 1.5;
  letter-spacing: 0.014em;
  text-shadow: -1px 0 1px #bb5802, 1px 0 1px #bb5802, 0 1px 1px #bb5802, 0 -1px 1px #bb5802, 0 2px 8px rgba(99, 99, 99, 0.2);
  color: #fff;
  text-align: center;
}

.exp-bar {
  width: 8px;
  height: 100%;
  background: rgba(0, 0, 0, 0.24);
  position: relative;

  &::after {
    content: '';
    position: absolute;
    background: linear-gradient(to bottom, rgba(226, 127, 0, 1) 0%, rgba(187, 88, 2, 1) 100%);
    border-radius: 1000px;
    width: 100%;
    height: 144px;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.next-level, .now-level {
  padding: 2px 8.5px;
  font-weight: 600;
  font-size: 12px;
  line-height: 20px;
  border-radius: 1000px;
  letter-spacing: 0.014em;
}

.next-level {
  background: rgba(0, 0, 0, 0.24);
  color: #fff;
  margin-bottom: 9px;
}

.now-level {
  background: $yellow-100;
  color: $yellow-800;
  margin-top: 9px;
}

.profile-btn img{
  width: 20px;
  height: 20px;
}

// 總結
.spend-list-container {
  margin-top: -30px;
}

.summary {
  width: 343px;
  gap: 8px;
  position: sticky;
  top: 0;
}

.summary-item:nth-child(1)::after,
.summary-item:nth-child(2)::after {
  content: '';
  position: absolute;
  width: 1px;
  background: #D5D9E2;
  right: -4px;
  top: 6px;
  bottom: 6px;
}

.summary-title {
  color: #23272E;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.014em;
}

.summary-money {
  color: #23272E;
  font-weight: 600;
}

// 記帳區
.track-btn {
  position: fixed;
  bottom: 80px;
  left: 50%;
  transform: translateX(-50%);
}

.spend-item .badge {
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.014em;
  font-weight: 600;
}

// awards modal
.award-title-icon {
  width: 24px;
  height: 24px;
}

.points, .exps, .lvs {
  display: flex;
  align-items: center;
  line-height: 40px;
  vertical-align: middle;
  
  span:nth-child(2) {
    font-size: 32px !important;
  }
}

.points, .exps {
  span:nth-child(2) {
    width: 58px;
  }
}

// evolution modal
.evolution-modal .modal-body {
  box-shadow: 0 0 17px 7px #FFECB3;
  z-index: -2;
}

.evolution-close {
  position: absolute;
  top: 23px;
  right: 16px;
  z-index: 5;
}

.medal {
  border-radius: 50%;
  background: conic-gradient(from 180deg at 50% 50%, #FFFFFF 0deg, #FFED85 81.79deg, #FFFFFF 360deg);
  position: relative;
  margin-right: 78px;
  margin-left: 78px;
  bottom: -15px;
}

.beam-wrapper {
  position: absolute;
  top: 15px;
  bottom: -15px;
  left: 0;
  right: 0;
  animation: rotate 5s linear infinite;
  z-index: -3;
}

.beam {
  position: absolute;
  width: 100%;
  height: 100%;
  background: radial-gradient(closest-side, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 0) 100%);
  clip-path: polygon(50% 50%, 100% 25%, 100% 75%);
  transform-origin: 50% 50%;
  transform: rotate(calc(360deg / 14 * (var(--i) - 0.5)));
}

.beam:nth-child(odd) {
  background: transparent;
}

@keyframes rotate {
  from {
    transform: rotate(0deg); /* 從 0 度開始 */
  }
  to {
    transform: rotate(360deg); /* 完成 360 度的旋轉 */
  }
}

.medal::after {
  content: '';
  position: absolute;
  background: conic-gradient(from 180deg at 50% 50%, #FFCA1B -30.6deg, #FFFFFF 133.2deg, #FFCA1B 329.4deg, #FFFFFF 493.2deg);
  top: -17px;
  bottom: -17px;
  left: -17px;
  right: -17px;
  z-index: -1;
  border-radius: 50%;
  box-shadow: 0px 0px 16.8px 7px rgba(255, 203, 46, 0.37);
}

.medal img {
  transform: scale(1.2);
}

.evolution-modal .text-evolution {
  font-size: 20px;
  line-height: 28px;
  letter-spacing: 0.014em;
}

.evolution-modal .text-dough-title {
  font-size: 40px !important;
  line-height: 52px;
  letter-spacing: 0.014em;
}

.deco-line {
  position: absolute;
  left: calc(1.5 * (-11px) * sqrt(1/2));
  top: calc(98px + 11px * (sqrt(2) - 1));
}

.deco-line div {
  position: relative;
  width: 22px;
  height: 22px;
  transform: rotate(45deg);
  margin-right: calc(11px * (sqrt(1/2)));
}

.deco-line-right {
  left: unset;
  right: calc(2.5 * (-11px) * sqrt(1/2));;
}