
input[type="checkbox"] {
    display: none;
}

input[type="checkbox"] + label .rounded-circle {
    border: 2px solid transparent;
}

input[type="checkbox"]:checked + label div {
    color: $primary-800;
}

input[type="checkbox"]:checked + label .rounded-circle {
    border: 2px solid #E27F00;
}

.offcanvas-backdrop {
    background-color: rgba(0, 0, 0, 0); /* 修改背景色與透明度 */
}
.customlineheight20{
    line-height: 20px;
}