<div class="offcanvas offcanvas-bottom h-auto" tabindex="-1" id="offcanvasNumPad" aria-labelledby="offcanvasBottomLabel">
  <div class="rounded-top">
    <!-- 切換日期 -->
    <div class="d-flex justify-content-between align-item-center py-3 px-4">
      <div class="d-flex align-items-center">
        <span class="material-symbols-outlined text-neutral-700"> arrow_back_ios </span>
      </div>
      <div class="fs-7 fw-semibold">31 Jul 2024</div>
      <div class="d-flex align-items-center">
        <span class="material-symbols-outlined text-neutral-700"> arrow_forward_ios </span>
      </div>
    </div>

    <!-- 輸入金額、照片、填寫備註 -->
    <div class="d-flex align-item-center py-3 px-4 bg-neutral-100">
      <div style="width: 40%">
        <span class="fs-6 text-danger fw-bold">$0</span>
      </div>
      <div class="bg-neutral-300" style="width: 1px"></div>
      <div class="d-flex gap-2 ms-2 justify-content-between align-item-center flex-grow-1">
        <span class="material-symbols-outlined fs-2"> photo_camera </span>
        <button class="w-100 border-0 bg-transparent text-start text-neutral-300 fs-10">填寫備註</button>
      </div>
    </div>

    <!-- 快速標記 -->
    <div class="py-3 bg-neutral-100">
      <div class="swiper mySwiper">
        <ul class="swiper-wrapper list-unstyled m-0 p-0 d-flex align-items-center">
          <li class="swiper-slide w-auto rounded-pill bg-white fs-6 fw-semibold text-neutral-500 py-tiny ms-4 px-2 text-nowrap">老爺溫泉酒店</li>
          <li class="swiper-slide w-auto rounded-pill bg-white fs-6 fw-semibold text-neutral-500 py-tiny px-2 text-nowrap">宜蘭礁溪飯店</li>
          <li class="swiper-slide w-auto rounded-pill bg-white fs-6 fw-semibold text-neutral-500 py-tiny px-2 text-nowrap">溫泉湯屋</li>
          <li class="swiper-slide w-auto rounded-pill bg-white fs-6 fw-semibold text-neutral-500 py-tiny px-2 text-nowrap">青旅</li>
          <li class="swiper-slide w-auto rounded-pill bg-white fs-6 fw-semibold text-neutral-500 py-tiny px-2 text-nowrap">盥洗用具</li>
        </ul>
      </div>
    </div>

    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script>
      const swiper = new Swiper(".mySwiper", {
        slidesPerView: "auto", // 讓每個 slide 根據內容自適應
        spaceBetween: 8, // slide 間距
        mousewheel: true, // 支援滑鼠滾動
      });
    </script>

    <!-- 鍵盤區 -->
    <div class="p-3 bg-neutral-200">
      <div class="row px-3 mb-2">
        <button class="col d-flex justify-content-center align-item-center border-0 me-2 bg-white rounded-xxs" style="height: 40px; line-height: 40px">7</button>
        <button class="col d-flex justify-content-center align-item-center border-0 me-2 bg-white rounded-xxs" style="height: 40px; line-height: 40px">8</button>
        <button class="col d-flex justify-content-center align-item-center border-0 me-2 bg-white rounded-xxs" style="height: 40px; line-height: 40px">9</button>
        <button class="col d-flex justify-content-center align-item-center border-0 me-2 bg-white rounded-xxs" style="height: 40px; line-height: 40px">÷</button>
        <button class="col d-flex justify-content-center align-item-center border-0 bg-white rounded-xxs" style="height: 40px; line-height: 40px">
          <span class="material-symbols-outlined text-neutral-500" style="line-height: 40px"> account_balance </span>
        </button>
      </div>
      <div class="row px-3 mb-2">
        <button class="col d-flex justify-content-center align-item-center border-0 me-2 bg-white rounded-xxs" style="height: 40px; line-height: 40px">4</button>
        <button class="col d-flex justify-content-center align-item-center border-0 me-2 bg-white rounded-xxs" style="height: 40px; line-height: 40px">5</button>
        <button class="col d-flex justify-content-center align-item-center border-0 me-2 bg-white rounded-xxs" style="height: 40px; line-height: 40px">6</button>
        <button class="col d-flex justify-content-center align-item-center border-0 me-2 bg-white rounded-xxs" style="height: 40px; line-height: 40px">x</button>
        <button class="col d-flex justify-content-center align-item-center border-0 bg-white rounded-xxs" style="height: 40px; line-height: 40px">
          <span class="material-symbols-outlined text-neutral-500" style="line-height: 40px"> qr_code_scanner </span>
        </button>
      </div>
      <div class="row px-3 mb-2">
        <button class="col d-flex justify-content-center align-item-center border-0 me-2 bg-white rounded-xxs" style="height: 40px; line-height: 40px">1</button>
        <button class="col d-flex justify-content-center align-item-center border-0 me-2 bg-white rounded-xxs" style="height: 40px; line-height: 40px">2</button>
        <button class="col d-flex justify-content-center align-item-center border-0 me-2 bg-white rounded-xxs" style="height: 40px; line-height: 40px">3</button>
        <button class="col d-flex justify-content-center align-item-center border-0 me-2 bg-white rounded-xxs" style="height: 40px; line-height: 40px">-</button>
        <button class="col d-flex justify-content-center align-item-center border-0 text-neutral-500 fs-7 fw-semibold bg-white rounded-xxs" style="height: 40px; line-height: 40px">再記</button>
      </div>
      <div class="row px-3">
        <button class="col d-flex justify-content-center align-item-center border-0 me-2 bg-white rounded-xxs" style="height: 40px; line-height: 40px">.</button>
        <button class="col d-flex justify-content-center align-item-center border-0 me-2 bg-white rounded-xxs" style="height: 40px; line-height: 40px">0</button>
        <button class="col d-flex justify-content-center align-item-center border-0 me-2 bg-white rounded-xxs" style="height: 40px; line-height: 40px">
          <span class="material-symbols-outlined" style="line-height: 40px"> backspace </span>
        </button>
        <button class="col d-flex justify-content-center align-item-center border-0 me-2 bg-white rounded-xxs" style="height: 40px; line-height: 40px">+</button>
        <button class="col d-flex justify-content-center align-item-center border-0 text-white bg-accent-600 rounded-xxs" style="height: 40px; line-height: 40px">OK</button>
      </div>
    </div>
  </div>
</div>
